.header {
  color: #ffffff;
  background: #cc0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  padding: 10px 0px;
  .header-logo img {
    max-height: 50px;
    width: auto;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.header-logo {
  background: #ffffff;
  padding: 8px 20px;
  margin-left: -20px;
}