.header {
  color: #ffffff;
  background: #cc0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  padding: 10px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
